<div id="tabla"class="col-md-6 center-block text-center">
	<table>
                <th>Nombre del usuario</th>
                <th>Rol del usuario</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th colspan="3">Operación</th>
				<%= render 'form' %>
	</table>
</div>