<div class="col-md-6 center-block text-center posicion" id="confirma">
            <h1>Ha terminado la Auditoria  exitosamente ahora puede generar los graficos y el informe final.</h1>
            <a href="/auditor/matriz" class="asin"><input type="button" value="Matriz de Riesgos"></a>
            <a href="/auditor/semaforo" class="asin"><input type="button" value="Semaforo de Riesgos"></a>
            <a href="/auditor/informe" class="asin"><input type="button" value="Informe Final"></a>
        </div>