<div class="col-md-2 center-block text-center" id="auditoria"> 
        <form>
        <input type="text" name="nombreempresa" placeholder="Empresa" required><br><br>
        <input type="date" name="fecha inicio" placeholder="Fecha de inicio" required><br><br>
        <a class="asin" href="Auditar.html"><input type="submit" value="Auditar"></a>
        </form>
</div>