<div id="tabla" class="col-md-9 center-block text-center">
    <table id="tablacontrol">
        <tr>
	        <th>Control</th>
	        <th>Riesgo</th>
	        <th>Recomendación</th>
        </tr>
        <% @ctrl_est.each do |ce|%>
  	        <tr>
	        	<td><%= text_area_tag 'control', ce.control, disabled:true%></td>
				<td><%= text_field_tag 'riesgo', ce.valor, disabled:true %></td>
				<td><%= text_area_tag 'recomendacion', ce.recomendacion, disabled:true %></td>
			</tr>
        <%end%>
    </table>
