<div id="tabla" class="col-md-6 center-block text-center">
	<table id="tablacontrol">
		<tr>
		<th>Control</th>
		<th>Riesgo</th>
		<th>Recomendación</th>
		<th colspan="3">Operación</th>
		<th></th>
		</tr>
		<%= render 'form'%>
	</table>
</div>